@model TF_TI2_19269_19262.Models.Editora

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Editora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src="~/Imagens/@Html.DisplayFor(item => item.Logo)" width="74" height="100" />
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrador"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
        @Html.Raw("|")
    }
@Html.ActionLink("Voltar à lista das editoras", "Index")
</p>
