@model IEnumerable<TF_TI2_19269_19262.Models.Editora>

@{
    ViewBag.Title = "Index";
}
<div style="text-align:center">
    <h2 style="padding:20px 0px 20px 0px">
        Lista De Editoras
    </h2>
    <div style="padding:0px 0px 30px 0px">
        @if (User.IsInRole("Administrador"))
        {
            <button>
                @Html.ActionLink("Adicionar Editora", "Create")
            </button>
        }
        </div>

</div>
<div style="display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;">
    @foreach (var item in Model)
    {
    <div style="padding: 30px;">
        <div style="padding:20px">
            <a href="~/Imagens/@item.Logo" target="_blank">
                <img src="~/Imagens/@item.Logo" width="74" height="100" />
            </a>
        </div>
        <div style="padding:20px">
            @Html.ActionLink(item.Nome, "Details", new { id = item.ID })

        </div>
        @if (User.IsInRole("Administrador"))
        {
            <div style="padding:20px">
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </p>
            </div>
        }
        </div>
    }
</div>
<button>
    @Html.ActionLink("Voltar à Página Inicial", "../Home/Index")
</button>