@model IEnumerable<TF_TI2_19269_19262.Models.Editora>

@{
    ViewBag.Title = "Index";
}

<link href="~/CSS/MyCSS/editorasIndex.css" rel="stylesheet" />

<div class="editora_index_wrapper">
    <div class="editora_index_action">
        <h2>Lista De Editoras</h2>
    </div>

    <div class="editora_index_info_wrapper col-md-12">
        @foreach (var item in Model)
        {
            <div class="editora_index_content_wrapper col-md-4">
                <div class="size_saver">
                    <div class="editora_index_content_img">
                        <img src="~/Imagens/@item.Logo" />
                    </div>
                    <div class="editora_index_content_nome">
                        @Html.DisplayFor(modelitem => item.Nome)
                    </div>
                    @*<div class="editora_index_content_nome">
            @Html.ActionLink(item.Nome, "Details", new { id = item.ID })
        </div>*@
                    <div class="editora_index_links">
                        @if (User.IsInRole("Administrador"))
                        {
                            <span>@Html.ActionLink("Editar", "Edit", new { id = item.ID })</span>
                            <span>@Html.Raw("|")</span>
                            <span>@Html.ActionLink("Eliminar", "Delete", new { id = item.ID })</span>

                        }
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>

<div id="opt">
    <img id="options" src="~/Imagens/options.png" alt="" />
</div>
<div class="sidebar_nav">
    <span>@Html.ActionLink("Voltar à Página Inicial", "../Home/Index")</span>

    @if (User.IsInRole("Administrador"))
    {
    <span>@Html.ActionLink("Adicionar Editora", "Create")</span>
    }
</div>




