@model TF_TI2_19269_19262.Models.Pessoas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Imagens/@Model.Foto" width="148" height="200" />
        </dd>

            
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <table class="table">
                                @foreach (var pap in Model.PessoasEpisodios)
                                {

                                    <tr>
                                        <th>
                                            @* @Html.DisplayNameFor(a => pap.Episodios.Temporadas.Series.Nome)*@
                                            @Html.LabelFor(a => pap.Episodios.Temporadas.Series.Nome, "Nome Série")

                                        </th>
                                        <th>
                                            @* @Html.DisplayNameFor(a => pap.Episodios.Temporadas.Nome, "Nome Temporada")*@
                                            @Html.LabelFor(a => pap.Episodios.Temporadas.Nome, "Nome Temporada")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(a => pap.Episodios.Nome)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(a => pap.Papel)
                                        </th>
                                    </tr>
                                

                                <tr>
                                    <td>
                                        @Html.DisplayFor(a => pap.Episodios.Temporadas.Series.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a => pap.Episodios.Temporadas.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a => pap.Episodios.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a => pap.Papel)
                                    </td>
                                </tr>
                                }

                            </table>
                        </div>
                   </div>
               </div>
         


    </dl>
</div>

<p>
    @if (User.IsInRole("Administrador"))
    {
        @Html.ActionLink("Editar ", "Edit", new { id = Model.ID })
        @Html.Raw("|")
    }
        @Html.ActionLink("Voltar à lista", "Index")
</p>
        
