@model TF_TI2_19269_19262.Models.Pessoas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Imagens/@Model.Foto" width="148" height="200" />
        </dd>



    </dl>
</div>

<p>
    @if (User.IsInRole("Administrador"))
    {
        @Html.ActionLink("Editar ", "Edit", new { id = Model.ID })
        @Html.Raw("|")
    }
        @Html.ActionLink("Voltar à lista", "Index")
</p>
        
