@{
    ViewBag.Title = "Home Page";
}

<link href="~/CSS/startbootstrap-the-big-picture-gh-pages/css/the-big-picture.css" rel="stylesheet" />

    <h1 style="color:white">Series4All</h1>
    <p class="lead" style="color:white; font-size:40px">O seu site de análise de séries!</p>


    <table class="table">
        <tr>
            <td>
                @Html.ActionLink("Series", "Index", "Series", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Temporadas", "Index", "Temporadas", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Episodios", "Index", "Episodios", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Pessoas", "Index", "Pessoas", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Papeis", "Index", "PessoasEpisodios", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Editoras", "Index", "Editoras", null, new { @class = "navbar-brand" })
            </td>
        </tr>
        <td></td>
    </table>
    


