<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/sidebar.js"></script>
    <link href="~/CSS/MyCSS/sidebar.css" rel="stylesheet" />
</head>
<body>
    <div id="topHat" class="navbar navbar-inverse navbar-fixed-top" style="background-color:#201c29">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Series4All", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Séries", "Index", "Series")</li>
                    <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
                    <li>@Html.ActionLink("Editoras", "Index", "Editoras")</li>

                    @if (User.IsInRole("Administrador"))
                    {
                        <li>@Html.ActionLink("Comentários", "Index", "Comentarios")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        

    });
</script>
