@model TF_TI2_19269_19262.Models.Episodios

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza de que quer eliminar?</h3>
<div>
    <h4>Episódios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temporadas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temporadas.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Voltar à Lista", "Index", "Episodios", new { id = Model.TemporadaFK }, null)
    </div>
    }
</div>
