@model TF_TI2_19269_19262.Models.Episodios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episodios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temporadas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temporadas.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" width="500" height="500" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>

            <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(modelItem => @Model.Trailer)" allowfullscreen></iframe>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacao)
        </dd>

    </dl>
</div>

@*----------------------------------------------*@
<div>
    <h2>
        Comentários
    </h2>
    @foreach (var comentario in Model.ListaDeComentarios)
    {
        <div class="row">
            <div class="col-md-12" style="background-color:lightgray; margin-left:5px; font-family:Arial;height:100px; margin-top:15px;">
                @*Texto do comentário*@
                <div>
                    @Html.DisplayFor(a => comentario.Utilizadores.Nome)

                </div>
                <div style="padding-top:10px;">
                    <b>@Html.DisplayFor(a => comentario.Texto)</b>
                    <a href="~/Comentarios/Delete/@comentario.ID">
                        <p>X</p>
                    </a>
                </div>

            </div>
        </div>
    }
    <br />
    <form action="/Comentarios/Create" method="post" novalidate="novalidate" enctype="multipart/form-data">
        
        @Html.AntiForgeryToken()
        <h3>Insira um comentário</h3>
        <div class="hide">

            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.TextArea("coment", "", new { placeholder = "insira um comentário", style = "width: 900px; max-width:900px" })
        <div class="form-group">
            <div>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </form>
</div>

@*----------------------------------------------*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
