@model TF_TI2_19269_19262.Models.Episodios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episodios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temporadas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temporadas.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" width="500" height="500" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
