@model TF_TI2_19269_19262.Models.Episodios

@{
    ViewBag.Title = "Details";
}


<link href="~/CSS/MyCSS/episodiosDetails.css" rel="stylesheet" />

<div class="episodios_details_wrapper">
    <div class="episodios_details_action">
        <h2>Detalhes</h2>
    </div>
    <div class="episodios_details_content_wrapper">
        <div class="episodios_details_content">
            <div class="episodios_details_content_img">
                <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" />
            </div>
            <div class="episodios_details_content_info_wrapper">
                <span>Temporada: @Html.DisplayFor(model => model.Temporadas.Nome)</span>
                <span>Episódio @Html.DisplayFor(model => model.Numero) : @Html.DisplayFor(model => model.Nome)</span>
                <span>Classificação: @Html.DisplayFor(model => model.Classificacao)</span>
                <span>Sinopse: @Html.DisplayFor(model => model.Sinopse)</span>

            </div>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(@Model.Trailer))
    {
        <div class="episodios_details_trailler">
            <span>TRAILLER</span>
            <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(modelItem => @Model.Trailer)" allowfullscreen></iframe>
        </div>
    }
    <div class="episodios_details_content_comentarios">
        <span>Comentários</span>

        @foreach (var comentario in Model.ListaDeComentarios)
        {
            <div class="row ">
                <div class="col-md-12 episodios_details_content_comentarios_coment">
                    @*Texto do comentário*@
                    <div>
                        @Html.DisplayFor(a => comentario.Utilizadores.Nome)

                    </div>
                    <div class="comentario">
                        <b>@Html.DisplayFor(a => comentario.Texto)</b>
                        <a href="~/Comentarios/Delete/@comentario.ID">
                            <p>X</p>
                        </a>
                    </div>

                </div>
            </div>
        }


        <br />
        <form action="/Comentarios/Create" method="post" novalidate="novalidate" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <h3>Insira um comentário</h3>
            <div class="hide">

                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            @Html.TextArea("coment", "", new { placeholder = "insira um comentário", style = "width: 900px; max-width:900px" })
            <div class="form-group">
                <div>
                    <input type="submit" value="Publicar" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

<div id="opt">
    <img id="options" src="~/Imagens/options.png" alt="" />
</div>
<div class="sidebar_nav">
    <span>@Html.ActionLink("Editar", "Edit", new { id = Model.ID })</span>
    <span>@Html.ActionLink("Voltar à Lista de Temporadas", "Index", "Temporadas", new { id = ViewBag.SerieID }, null)</span>
</div>
