@model IEnumerable<TF_TI2_19269_19262.Models.Episodios>

@{
    ViewBag.Title = "Index2";
}

<h2>Lista de todos os episodios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Temporadas.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trailer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temporadas.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>