@model IEnumerable<TF_TI2_19269_19262.Models.Episodios>

@{
    ViewBag.Title = "Index";
}

<link href="~/CSS/MyCSS/episodiosIndex.css" rel="stylesheet" />

<div class="episodios_index_wrapper">
    <div class="episodios_index_action">
        <h2>Lista De Episodios</h2>
    </div>
    <div class="episodios_index_content_wrapper">
        @foreach (var item in Model)
        {
        <div class="episodios_index_content_info_wrapper">
            <div class="episodios_index_content_info_img">
                <a href="~/Imagens/@item.Foto" target="_blank">
                    <img src="~/Imagens/@item.Foto" />
                </a>
            </div>
            <div class="episodios_index_separador_img_info">
                <div class="episodios_index_content_info">
                    <div class="episodios_index_content_info_coisas">
                        <p>Temporada:</p>
                        <p>@Html.DisplayFor(modelItem => item.Temporadas.Numero)</p>
                    </div>
                    <div class="episodios_index_content_info_coisas">
                        <p>Episódio:</p>
                        <p>@Html.DisplayFor(modelItem => item.Numero)</p>
                    </div>
                    <div class="episodios_index_content_info_coisas">
                        <p>Nome do Episódio:</p>
                        <p>@Html.DisplayFor(modelItem => item.Nome) </p>
                    </div>
                    <div class="episodios_index_content_info_coisas">
                        <p>Classificação:</p>
                        <p> @Html.DisplayFor(modelItem => item.Classificacao)</p>
                    </div>
                </div>
                <div class="episodios_index_content_info_sinopse">
                    <span>@Html.DisplayFor(modelItem => item.Sinopse)</span>
                </div>
                <div class="episodios_index_content_info_links">
                    @if (User.IsInRole("Administrador"))
                    {
                        <span>@Html.ActionLink("Editar Episódio", "Edit", new { id = item.ID })</span>
                        <span>@Html.Raw("|")</span>
                        <span>@Html.ActionLink("Eliminar Episódio", "Delete", new { id = item.ID })</span>
                        <span>@Html.Raw("|")</span>
                    }
                    <span>@Html.ActionLink("Detalhes Do Episódio", "Details", new { id = item.ID })</span>

                </div>
            </div>
            
        </div>
        }
        </div>
</div>

<div id="opt">
    <img id="options" src="~/Imagens/options.png" alt=""/>
</div>
<div class="sidebar_nav">
    <span>@Html.ActionLink("Voltar à Lista de Temporadas", "Index", "Temporadas", new { id = Model.FirstOrDefault().Temporadas.SerieFK }, null)</span>

    @if (User.IsInRole("Administrador"))
    {
    <span>@Html.ActionLink("Criar Novo Episódio", "Create")</span>
    }
</div>

