@model IEnumerable<TF_TI2_19269_19262.Models.PessoasEpisodios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Episodios.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoas.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Papel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Episodios.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoas.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Papel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
