@model TF_TI2_19269_19262.Models.Series

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza de que quer eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="display:flex;flex-direction:row;margin-bottom:50px;">
            <div style="display:flex;flex-direction:column;justify-content:space-between">            
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                    </div>

                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.Genero)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Genero)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.Sinopse)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Sinopse)
                        </dd>
                    </div>
                    <div class="info">
                        <dt>
                            @Html.DisplayNameFor(model => model.Classificacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Classificacao)
                        </dd>
                    </div>
                </div>
                
                <div >
                    <div style="margin-bottom:24px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Foto)
                        </dt>

                        <dd>
                            <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" width="300" />
                        </dd>
                    </div>
                    <div >
                        <dt>
                            @Html.DisplayNameFor(model => model.Video)
                        </dt>

                        <dd>
                            <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.Video)" allowfullscreen></iframe>
                        </dd>
                    </div>
                </div>
            </div>
        </div>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>

<style>
    .info dt,dd{
        text-align:justify
    }
</style>
