@model TF_TI2_19269_19262.Models.Series

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;font-size:40px">Detalhes da Série @Html.DisplayFor(item => item.Nome)</h2>


<div style="padding:30px;text-align:center;font-size:30px">

    <div style="padding:30px">
        <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" width="500" height="500" />
    </div>
    <div style="padding:30px">
        <p>
            Serie:
        </p>
        <p>
            @Html.DisplayFor(item => item.Nome)
        </p>
    </div>
    <div style="padding:30px">
        <p>
            Editora:
        </p>
        <p>
            @Html.DisplayFor(item => item.Editora.Nome)
        </p>
    </div>
    <div style="padding:30px">
        <p>
            Genero:
        </p>
        <p>
            @Html.DisplayFor(item => item.Genero)
        </p>
    </div>
    <div style="padding:30px">
        <p>
            Classificação:
        </p>
        <p>
            @Html.DisplayFor(item => item.Classificacao)
        </p>
    </div>
    <div style="padding:30px">
        <p>
            Sinopse:
        </p>
        <p>
            @Html.DisplayFor(item => item.Sinopse)
        </p>
    </div>
    <div style="padding:30px">
        <p>
            Trailer:
        </p>
        <p>
            <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.Video)" allowfullscreen></iframe>
        </p>
        
    </div>

</div>


<div>
    <button>
        @Html.ActionLink("Ver Temporadas", "Index","Temporadas", new { id = Model.ID },null)
    </button>
</div>


<div style="display:flex;flex-direction:row;justify-content:space-evenly">
    <div >
        <p>
            @Html.ActionLink("Editar Serie", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Eliminar Serie", "Delete", new { id = Model.ID })
        </p>
    </div>
    <div >
        <button>
            @Html.ActionLink("Voltar á Lista de Series", "../Series/Index")
        </button>
    </div>

</div>
