@model TF_TI2_19269_19262.Models.Series

@{
    ViewBag.Title = "Details";
}
<link href="~/CSS/MyCSS/seriesDetailscss.css" rel="stylesheet" />

<h2 id="seriesDelailsH2">Detalhes da Série @Html.DisplayFor(item => item.Nome)</h2>


<div id="cenas" class="wrapper">
    <div class="content_wrapper">
        <div class="content_wrapper_img">
            <img src="~/Imagens/@Html.DisplayFor(item => item.Foto)" width="500" height="500" />
        </div>
        <div class="content_wrapper_info">
            <div class="content_wrapper_info_detail">
                <p class="blue">
                    Série: <span>@Html.DisplayFor(item => item.Nome)</span>
                </p>
            </div>
            <div class="content_wrapper_info_detail">
                <p class="dark-blue">
                    Editora: @Html.DisplayFor(item => item.Editora.Nome)
                </p>

            </div>
            <div class="content_wrapper_info_detail">

                <p class="blue">
                    Género: @Html.DisplayFor(item => item.Genero)
                </p>
            </div>
            <div class="content_wrapper_info_detail">
                <p class="dark-blue">
                    Classificação: @Html.DisplayFor(item => item.Classificacao)
                </p>
            </div>
            <div class="content_wrapper_info_detail content_wrapper_sinopse">
                <p class="blue aux">
                    Sinopse:
                    <br />
                    <br />
                    @Html.DisplayFor(item => item.Sinopse)
                </p>
            </div>

        </div>
        <div id="opt">
            <img id="options" src="~/Imagens/options.png" alt="" width="20" height="20"/>
        </div>
    </div>

    <fieldset class="content_wrapper_trailer">

        <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.Video)" allowfullscreen, width="100%" , height="550"></iframe>

    </fieldset>


    <div class="sidebar_nav">
        <span>@Html.ActionLink("Voltar à Lista de Séries", "../Series/Index")</span>
        <span>@Html.ActionLink("Ver Temporadas", "Index", "Temporadas", new { id = Model.ID }, null)</span>
        
        @if (User.IsInRole("Administrador"))
        {
        <span>@Html.ActionLink("Editar Série", "Edit", new { id = Model.ID })</span>
        <span>@Html.ActionLink("Eliminar Série", "Delete", new { id = Model.ID })</span>
            
        }
    </div>
</div>



<script >
    var isClicked = false;
    var opts = document.getElementById("options");
    opts.addEventListener("click", handleClick(evt));
    function handleClick(evt) {
        isClicked != isClicked;
        if (isClicked==true) {
            document.getElementClassName("sidebar_nav").style.width = "150px";
            document.getElementClassName("sidebar_nav").backgroundColor= "rgba(0, 0, 0, 0.9)";
            document.getElementClassName("sidebar_nav").borderRadius= "5px";
        } else {
            document.getElementClassName("sidebar_nav").style.width = "0";
        }
    }
</script>
